GOOGLE_API_KEY=AIzaSyBto3EjfwZTtdQD6WCbvJTErAPe6ZlKWpE
ADMIN_USERNAME=admin
ADMIN_PASSWORD=strongpassword123
SECRET_KEY=9d1773434c5d4067086f87de777952ed85c19fd81079a77968f5b5e160b0e2f1
DATABASE_URL=mongodb+srv://sejaljaswal2020:sejal@cluster0.hqv2vfq.mongodb.net/?appName=Cluster0
CHROMA_PERSIST_DIR=
